$myBlue: #000dff;

/* --------------------------------- */
/* -------- BODY & SECTIONS -------- */
/* --------------------------------- */

body {
	font-family: Roboto;
	margin: 1% 5%;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: row;

	background: black;
	color: white;
}

.neonBox {
	border: solid;
	border-radius: 2px;
	border-color: $myBlue;
}

/* --------------------------------- */
/* ------------ SLIDERS ------------ */
/* --------------------------------- */

.draggableValue {
	&:hover {
		cursor: ew-resize;
	}
}

html .dragging {
	cursor: ew-resize;
}